<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<title>Crud</title>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/form.css">
</head>

    <body>
        <%- include("partials/navbar") -%>
            <div class="main_div">
                <div class="form-body">
                    <div class="row">
                        <div class="form-holder">
                            <div class="form-content">
                                <div class="form-items">
                                    <h3>Update Existing User</h3>
                                    <p>Fill the new details below</p>
                                    <form action="/" method="post" >

                                        <div class="col-md-12 my-12">
                                            <input class="form-control" type="text" name="name" placeholder="Full Name"
                                                required autocomplete="off" value="<%= User.name %>">
                                            <div class="valid-feedback">Username field is valid!</div>
                                            <div class="invalid-feedback">Username field cannot be blank!</div>
                                        </div>

                                        <div class="col-md-12 my-12">
                                            <input class="form-control" type="text" name="age"
                                                placeholder="Age" required autocomplete="off" value="<%= User.age %>">
                                            <div class="valid-feedback">Email field is valid!</div>
                                            <div class="invalid-feedback">Email field cannot be blank!</div>
                                        </div>
                                        
                                        <div class="col-md-12 my-12">
                                            <input class="form-control" type="email" name="email"
                                                placeholder="E-mail Address" required autocomplete="off" value="<%= User.email %>">
                                            <div class="valid-feedback">Email field is valid!</div>
                                            <div class="invalid-feedback">Email field cannot be blank!</div>
                                        </div>
                                        <div class="col-md-12 my-12">
                                            <input class="form-control" type="text" name="address" autocomplete="off" value="<%= User.address %>"
                                                placeholder="Residential Address" required>
                                            <div class="valid-feedback">Email field is valid!</div>
                                            <div class="invalid-feedback">Email field cannot be blank!</div>
                                        </div>


                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck"
                                                required>
                                            <label class="form-check-label">I confirm that all data are correct</label>
                                            <div class="invalid-feedback">Please confirm that the entered data are all
                                                correct!</div>
                                        </div>


                                        <div class="form-button mt-3">
                                            <button id="submit" type="submit" name = "id" value = "<%= User._id %>"class="btn btn-primary btn-lg btn-block">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("partials/footer") -%>
            </div>
    </body>